<div class="field sr-only" aria-hidden="true">
  <label for="robot_1">Email (robots only)</label>
  <input type="text" id="robot_1" name="robot_1" tabindex="-1" autocomplete="off" />
</div>

<div class="field sr-only" aria-hidden="true">
  <input type="checkbox" id="robot_2" name="robot_2" tabindex="-1" autocomplete="off" />
  <label for="robot_2">I agree that I am a robot</label>
</div>
