<% field = local_assigns.fetch(:field, :password) %>
<% label = local_assigns.fetch(:label, 'Password') %>
<% id = local_assigns.fetch(:id, field) %>

<div class="field">
  <%= f.label field, label, for: id %>
  <%= f.password_field field, autocomplete: 'current-password', placeholder: label, id: id %>
</div>
