<% field = local_assigns.fetch(:field, :password) %>
<% label = local_assigns.fetch(:label, 'Password') %>

<div class="field">
  <%= f.label field, label %>
  <%= f.password_field field, autocomplete: 'current-password', placeholder: label %>
</div>
