@tailwind base;
@tailwind components;
@tailwind utilities;

/* Z-index:
 *  5 - Focus ring
 * 10 - Fixed layout
 * 15 - Find dialog
 * 20 - Tippy
 * 30 - Modals
 * 40 - Tippy inside modal
 * 50 - Toasts
 */

body {
  // Slate
  --color-plain-50: 248 250 252;
  --color-plain-100: 241 245 249;
  --color-plain-200: 226 232 240;
  --color-plain-300: 203 213 225;
  --color-plain-400: 148 163 184;
  --color-plain-500: 100 116 139;
  --color-plain-600: 71 85 105;
  --color-plain-700: 51 65 85;
  --color-plain-800: 30 41 59;
  --color-plain-850: 22 32 50;
  --color-plain-900: 15 23 42;
  --color-plain-950: 2 6 23;
}

@media (prefers-color-scheme: dark) {
  body.deeper-dark-mode {
    --color-plain-50: 250 250 250;
    --color-plain-100: 245 245 245;
    --color-plain-200: 229 229 229;
    --color-plain-300: 212 212 212;
    --color-plain-400: 163 163 163;
    --color-plain-500: 115 115 115;
    --color-plain-600: 82 82 82;
    --color-plain-700: 64 64 64;
    --color-plain-800: 38 38 38;
    --color-plain-850: 30 30 30;
    --color-plain-900: 0 0 0;
    --color-plain-950: 23 23 23;
  }
}

@layer base {
  *:focus-visible, .focus-ring {
    outline: none;
    @apply ring-2 ring-primary-500 dark:ring-primary-400 border-transparent relative z-5;
  }

  *, ::before, ::after {
    @apply border-plain-200 dark:border-plain-700;
  }

  body {
    @apply overflow-wrap-break-word;
  }

  input::placeholder, textarea::placeholder, [data-slate-placeholder] {
    @apply text-plain-400 dark:text-plain-500;
  }

  button {
    @apply select-none;
  }

  input[type="checkbox"] {
    @apply w-5 h-5 shrink-0 appearance-none rounded border bg-page-bg-light dark:bg-page-bg-dark mt-[0.1875rem];

    &:checked {
      @apply bg-primary-500 dark:bg-primary-400 text-white border-transparent ring-offset-2 bg-tick;
    }
  }

  // Fix box-shadow for inputs on iOS
  input[type="text"], input[type="url"] {
    @apply appearance-none;
  }
}

@layer utilities {
  .text-ui {
    @apply text-plain-700 dark:text-plain-200;
  }

  .transparent-blur {
    @apply bg-page-bg-light/75 dark:bg-page-bg-dark/75 backdrop-blur;
  }

  .no-focus-ring:focus-visible {
    @apply ring-0;
  }

  .group-focus-ring {
    @apply group-focus-visible:ring-primary-500 group-focus-visible:dark:ring-primary-400;
  }

  .overflow-wrap-break-word {
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .overflow-wrap-normal {
    overflow-wrap: normal;
    word-break: normal;
  }

  .list-overflow {
    @apply overflow-x-auto overflow-wrap-normal;
  }

  .w-narrow {
    @apply w-full;
    max-width: var(--narrow-width, 640px);
  }

  .narrow {
    @apply mr-auto w-narrow;
    margin-left: var(--narrow-margin-left, auto);
  }

  .reset-leading {
    line-height: inherit !important;
  }

  .reset-editor-style {
    @apply text-base text-ui font-sans text-left;
  }

  .btn-base {
    @apply cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed overflow-hidden relative;
  }

  .btn-hover {
    content: '';
    @apply after:absolute after:inset-0 after:opacity-5 after:dark:opacity-10 after:bg-plain-900 after:dark:bg-plain-50 after:pointer-events-none;
  }

  .btn-link-hover {
    @apply brightness-75 dark:brightness-125;
  }

  .bg-tick {
    background-image: url('~/images/checkbox-tick.svg');
  }

  .diff-insert {
    --color-diff-50: 240 253 244;
    --color-diff-100: 220 252 231;
    --color-diff-200: 187 247 208;
    --color-diff-300: 134 239 172;
    --color-diff-400: 74 222 128;
    --color-diff-500: 34 197 94;
    --color-diff-600: 22 163 74;
    --color-diff-700: 21 128 61;
    --color-diff-800: 22 101 52;
    --color-diff-900: 20 83 45;
    --color-diff-950: 5 46 22;
  }

  .diff-delete {
    --color-diff-50: 254 242 242;
    --color-diff-100: 254 226 226;
    --color-diff-200: 254 202 202;
    --color-diff-300: 252 165 165;
    --color-diff-400: 248 113 113;
    --color-diff-500: 239 68 68;
    --color-diff-600: 220 38 38;
    --color-diff-700: 185 28 28;
    --color-diff-800: 153 27 27;
    --color-diff-900: 127 29 29;
    --color-diff-950: 69 10 10;
  }

  .diff-update {
    --color-diff-50: 239 246 255;
    --color-diff-100: 219 234 254;
    --color-diff-200: 191 219 254;
    --color-diff-300: 147 197 253;
    --color-diff-400: 96 165 250;
    --color-diff-500: 59 130 246;
    --color-diff-600: 37 99 235;
    --color-diff-700: 29 78 216;
    --color-diff-800: 30 64 175;
    --color-diff-900: 30 58 138;
    --color-diff-950: 23 37 84;
  }

  .diff-insert, .diff-delete, .diff-update {
    &:not(.no-default-diff-bg) {
      @apply bg-diff-100 dark:bg-diff-900;
    }

    &.diff-element:not(.no-default-diff-rounded) {
      @apply rounded-md;
    }

    &:not(.no-default-diff-text-color) {
      @apply text-diff-700 dark:text-diff-300;
    }

    &:not(.no-default-diff-decoration) {
      @apply decoration-2 decoration-diff-700 dark:decoration-diff-300;

      &.diff-insert { @apply underline; }
      &.diff-delete { @apply line-through; }
    }
  }
}

@layer components {
  .btn {
    // Base style

    @apply btn-base;

    &:not(.btn-no-rounded) {
      @apply rounded-lg;
    }

    // Hover effect

    &:not(.btn-link, .btn-link-subtle) {
      @apply hover:btn-hover;
    }

    &.btn-link {
      @apply hover:btn-link-hover;
    }

    // Variants

    &.btn-link {
      @apply text-primary-500 dark:text-primary-400 window-inactive:text-plain-500 dark:window-inactive:text-plain-400;
    }

    &.btn-link-subtle {
      @apply hocus:text-primary-500 dark:hocus:text-primary-400;
    }

    &.btn-rect {
      @apply px-3 py-2;
    }

    &.btn-secondary {
      @apply bg-plain-100 dark:bg-plain-800;
    }

    &.btn-modal-secondary {
      @apply bg-plain-300/50 dark:bg-plain-700/50;
    }

    &.btn-primary {
      @apply bg-primary-500 dark:bg-primary-400 text-white ring-offset-2;
    }

    &.btn-danger {
      @apply bg-red-500 text-white ring-offset-2;
    }
  }

  .h1, .h2, .h3 {
    @apply font-medium;
  }

  .h1 {
    @apply text-2xl sm:text-3xl;
  }

  .h2 {
    @apply text-xl sm:text-2xl;
  }

  .h3 {
    @apply text-lg sm:text-xl;
  }

  .list-group {
    @apply rounded-lg border dark:border-transparent divide-y;
  }

  .list-group-item {
    @apply w-full p-3 group-first:rounded-t-lg group-last:rounded-b-lg;
  }

  .paragraph-no-spacing {
    margin-top: 0 !important;
  }
}

.tippy-box[data-theme~='custom'] {
  @apply text-inherit bg-plain-100/75 dark:bg-plain-700/75 backdrop-blur font-medium shadow;
}

[data-tippy-root] {
  // Side effect of mounting tooltip as a child of .divide-y
  border: none !important;
  @apply select-none;
}

[data-slate-placeholder] {
  // Fix editor placeholder causing body to scroll horizontally
  width: auto !important;

  // Remove opacity: 0.333 from placeholder
  opacity: 1 !important;
}

[data-slate-editor]:focus [data-slate-placeholder] {
  // Hide placeholder when editor is focused
  opacity: 0 !important;
}

[data-has-bg] {
  @apply bg-cover bg-center bg-no-repeat;
  background-image: var(--bg-url);
}

::highlight(find-result) {
  @apply bg-yellow-100/80 dark:bg-yellow-300/50;
}

::highlight(find-result-current) {
  @apply bg-yellow-300 text-black;
}
