@tailwind base;
@tailwind components;
@tailwind utilities;

/* Z-index:
 *  5 - Focus ring
 * 10 - Fixed layout
 * 15 - Find dialog
 * 20 - Tippy
 * 30 - Modals
 * 40 - Tippy inside modal
 * 50 - Toasts
 */

@layer base {
  *:focus-visible, .focus-ring {
    outline: none;
    @apply ring-2 ring-primary-500 dark:ring-primary-400 border-transparent relative z-5;
  }

  *, ::before, ::after {
    @apply border-slate-200 dark:border-slate-700;
  }

  body {
    @apply overflow-wrap-break-word;
  }

  input::placeholder, textarea::placeholder, [data-slate-placeholder] {
    @apply text-slate-400 dark:text-slate-500;
  }

  button {
    @apply select-none;
  }

  input[type="checkbox"] {
    @apply w-5 h-5 shrink-0 appearance-none rounded border bg-page-bg-light dark:bg-page-bg-dark mt-[0.1875rem];

    &:checked {
      @apply bg-primary-500 dark:bg-primary-400 text-white border-transparent ring-offset-2;
      background-image: url('~/images/checkbox-tick.svg');
    }
  }

  // Fix box-shadow for inputs on iOS
  input[type="text"], input[type="url"] {
    @apply appearance-none;
  }
}

@layer utilities {
  .text-ui {
    @apply text-slate-700 dark:text-slate-200;
  }

  .transparent-blur {
    @apply bg-page-bg-light/75 dark:bg-page-bg-dark/75 backdrop-blur;
  }

  .no-focus-ring:focus-visible {
    @apply ring-0;
  }

  .group-focus-ring {
    @apply group-focus-visible:ring-primary-500 group-focus-visible:dark:ring-primary-400;
  }

  .overflow-wrap-break-word {
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .overflow-wrap-normal {
    overflow-wrap: normal;
    word-break: normal;
  }

  .narrow {
    @apply mr-auto w-full;
    max-width: var(--narrow-width, 640px);
    margin-left: var(--narrow-margin-left, auto);
  }

  .reset-leading {
    line-height: inherit !important;
  }

  .btn-hover {
    content: '';
    @apply after:absolute after:inset-0 after:opacity-5 after:dark:opacity-10 after:bg-slate-900 after:dark:bg-slate-50;
  }

  .btn-link-hover {
    @apply brightness-75 dark:brightness-125;
  }
}

@layer components {
  .btn {
    // Base style

    @apply cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed overflow-hidden relative;

    &:not(.btn-no-rounded) {
      @apply rounded-lg;
    }

    // Hover effect

    &:not(.btn-link, .btn-link-subtle) {
      @apply hover:btn-hover;
    }

    &.btn-link {
      @apply hover:btn-link-hover;
    }

    // Variants

    &.btn-link {
      @apply text-primary-500 dark:text-primary-400 window-inactive:text-slate-500 dark:window-inactive:text-slate-400;
    }

    &.btn-link-subtle {
      @apply hocus:text-primary-500 dark:hocus:text-primary-400;
    }

    &.btn-rect {
      @apply px-3 py-2;
    }

    &.btn-secondary {
      @apply bg-slate-100 dark:bg-slate-800;
    }

    &.btn-modal-secondary {
      @apply bg-slate-300/50 dark:bg-slate-700/50;
    }

    &.btn-primary {
      @apply bg-primary-500 dark:bg-primary-400 text-white ring-offset-2;
    }

    &.btn-danger {
      @apply bg-red-500 text-white ring-offset-2;
    }
  }

  .h1, .h2, .h3 {
    @apply font-medium;
  }

  .h1 {
    @apply text-2xl sm:text-3xl;
  }

  .h2 {
    @apply text-xl sm:text-2xl;
  }

  .h3 {
    @apply text-lg sm:text-xl;
  }

  .list-group {
    @apply rounded-lg border dark:border-transparent divide-y;
  }

  .list-group-item {
    @apply w-full p-3 group-first:rounded-t-lg group-last:rounded-b-lg;
  }
}

.tippy-box[data-theme~='custom'] {
  @apply text-inherit bg-slate-100/75 dark:bg-slate-700/75 backdrop-blur font-medium shadow;
}

[data-tippy-root] {
  // Side effect of mounting tooltip as a child of .divide-y
  border: none !important;
  @apply select-none;
}

[data-slate-placeholder] {
  // Fix editor placeholder causing body to scroll horizontally
  width: auto !important;

  // Remove opacity: 0.333 from placeholder
  opacity: 1 !important;
}

[data-slate-editor]:focus [data-slate-placeholder] {
  // Hide placeholder when editor is focused
  opacity: 0 !important;
}

[data-has-bg] {
  @apply bg-cover bg-center bg-no-repeat;
  background-image: var(--bg-url);
}

::highlight(find-result) {
  @apply bg-yellow-100/80 dark:bg-yellow-300/50;
}

::highlight(find-result-current) {
  @apply bg-yellow-300 text-black;
}
