<main class="mt-5 p-5 narrow-lg space-y-10">
  <h1 class="text-2xl/snug xs:text-3xl/snug sm:text-4xl/snug md:text-5xl/snug font-semibold text-balance text-center">
    An open-source app for taking notes that feels <span class="underline underline-offset-[0.125em] decoration-primary-500 dark:decoration-primary-400 window-inactive:decoration-plain-500 dark:window-inactive:decoration-plain-400 decoration-[0.125em]">awesome</span> to use
  </h1>

  <div class="demo-video">
    <div class="video-container">
      <%=
        video_tag ['demo.mp4', 'demo.webm'],
          controls: true,
          autoplay: true,
          loop: true,
          'aria-label': 'Demo video showing Untitled Note App in use'
        %>
    </div>
    <%= image_tag 'mac_frame.png', 'aria-hidden': true %>
  </div>

  <div class="bg-plain-100 dark:bg-plain-800 p-5 rounded-lg space-y-3">
    <h2 class="h2">Host your own instance</h2>
    <p class="text-lg">
      Untitled Note App is designed to be self-hosted using Docker.
    </p>
    <p>
      <%= styled_button_to 'Self-hosting guide', '/docs/self-hosting' %>
    </p>
</main>
