<% content_for :head do %>
  <%= prevent_fouc_tags %>
<% end %>

<div id="application" class="prevent-fouc min-h-screen flex flex-col p-5">
  <div class="m-auto lg:narrow space-y-3">
    <div class="border-l-4 p-3 space-y-2 bg-yellow-100 border-yellow-500 text-yellow-700 dark:bg-yellow-900 dark:border-yellow-400 dark:text-yellow-300" role="alert">
      <p class="font-bold">Warning!!!!!</p>

      <p>This app is under construction and should be used for demonstrational purposes only at this time. Please do not use it to store:</p>

      <ul class="list-disc list-inside">
        <li>Personal information (e.g. your name, address or phone number)</li>
        <li>Confidential information (e.g. your bank account details or passwords)</li>
        <li>The sole copy of any important documents</li>
      </ul>

      <p>Be aware that this app may contain bugs and security vulnerabilities that could result in the loss or theft of your data. Access to this app may be revoked at any time.</p>
    </div>

    <h1 class="h1">Untitled Note App</h1>

    <p class="text-lg font-light">Click the button below to log in or sign up.</p>

    <%= form_tag @login_path, method: :post do %>
      <button type="submit" class="btn btn-rect btn-primary">
        Get started
      </button>
    <% end %>
  </div>
</div>
