.document-grid-tile {
  position: relative;

  &:focus-within .document-grid-tile-card {
    @extend .focused;
  }

  &:hover, &:focus-within {
    .document-grid-tile-card:not(.placeholder) {
      @extend .bg-light;
    }
  }

  .document-grid-tile-card {
    @extend .card;
    @extend .card-body;
    @extend .ratio;
    @extend .ratio-16x9;

    overflow: hidden;
    border-radius: 0.5rem;

    .document-grid-tile-preview {
      padding: 2rem;

      --shrink-factor: 2.5;

      position: absolute;
      left: calc(-50% * (var(--shrink-factor) - 1));
      width: calc(100% * var(--shrink-factor));

      transform: scale(calc(1 / var(--shrink-factor)));
      transform-origin: top;
      pointer-events: none;
    }
  }
}
