.document-editor {
  .title-input, .react-tags {
    &:not(:focus):not(:focus-within):hover {
      @extend .dimmed;
    }
  }

  .title-input {
    font-family: var(--document-font);
    outline: none;
  }

  .react-tags {
    @extend .border-0;
    @extend .py-0;
    @extend .px-1;
    @extend .mx-n1;

    border-radius: 1rem;

    .keyword-tag {
      background-color: lighten($blue-100, 5%);
      border-radius: 1rem;

      &:hover, &:focus {
        background-color: $blue-100;
      }

      .btn-delete {
        background-color: lighten($blue-100, 5%);

        &:hover, &:focus {
          background-color: $blue-100;
        }
      }
    }

    .react-tags__search {
      @extend .mb-0;

      .react-tags__search-input {
        @extend .bg-transparent;
      }
    }

    .react-tags__suggestions {
      ul {
        @extend .dropdown-menu;
        @extend .show;

        li {
          @extend .dropdown-item;

          &.is-active {
            @extend .bg-primary;

            &, mark {
              @extend .text-white;
            }
          }

          mark {
            @extend .p-0;
            @extend .text-decoration-none;
          }
        }
      }
    }
  }

  [id^="trix-editor-top-level-"] {
    flex-grow: 1;
  }

  trix-editor {
    @extend .document-body;
  }
}

.btn-toolbar {
  &:hover, &:focus {
    @extend .dimmed;
  }

  &:not(.trix-active) {
    @extend .text-secondary;
  }

  &.trix-active {
    @extend .bg-primary;
    @extend .text-white;
  }
}

#trix-dialogs {
  .trix-validate {
    @extend .is-invalid;
  }
}
