@import "./react-tags";
@import "./actiontext";

$enable-negative-margins: true;
$transition-collapse: none;
$offcanvas-transition-duration: 0.3s;
$carousel-transition-duration: 0.3s;

@import "bootstrap/scss/bootstrap";

html, body {
  height: 100%;
  overflow-wrap: anywhere;
}

// Bootstrap Icons
.bi {
  vertical-align: -.125em;
}

.btn-light {
  @extend .bg-white;
  @extend .border;

  &:hover, &:focus {
    @extend .bg-light;
  }
}

.btn-link {
  @extend .p-0;
  @extend .align-baseline;
}

.btn-icon {
  @extend .px-2;
  @extend .py-1;

  &.btn-icon-inline {
    @extend .my-n1;
  }

  &:hover, &:focus {
    @extend .bg-light;
  }
}

.rounded-lg {
  border-radius: 2em;
}

.p-lg {
  padding: 3em;
}

.dropdown-item {
  &.dropdown-item-danger {
    &:active {
      @extend .bg-danger;
      @extend .text-white;
    }

    &:not(:active) {
      @extend .text-danger;
    }
  }
}

@mixin btn-selectable($selected-selector) {
  &:not(#{$selected-selector}) {
    @extend .btn-light;
  }

  &#{$selected-selector} {
    @extend .btn-primary;
  }
}

.btn-project {
  @extend .text-start;
  @include btn-selectable('.selected');
}

.dim-on-hover {
  &:not(:focus):not(:focus-within):hover {
    @extend .bg-light;
  }
}

#sidebar {
  &:not(.offcanvas) {
    width: $offcanvas-horizontal-width;
  }
}

.navigation-menu {
  .navigation-menu-item {
    @extend .d-block;
    @extend .mx-n3;
    @extend .px-3;
    @extend .py-1;
    @extend .text-decoration-none;

    &.active {
      @extend .bg-primary;
      @extend .text-white;
    }

    &:not(.active) {
      @extend .text-dark;

      &:hover {
        @extend .bg-light;
      }
    }
  }
}

.document-editor {
  @extend .bg-white;
  @extend .shadow;
  @extend .rounded-lg;
  @extend .p-lg;

  &:not(.readOnly) {
    .title-input, .react-tags, .trix-editor {
      @extend .dim-on-hover;
    }
  }

  &.readOnly {
    .react-tags__search-input {
      @extend .d-none;
    }
  }

  .document-editor-header {
    @extend .bg-white;

    margin: -3em -3em 0 -3em;
    min-height: 3em;
    border-radius: 2em 2em 0 0;

    &:not(:hover) .document-editor-header-link {
      @extend .visually-hidden-focusable;
    }
  }

  .document-editor-footer {
    @extend .bg-white;

    margin: 0 -3em -3em -3em;
    padding: 0 3em 0 3em;
    min-height: 3em;
    border-radius: 0 0 2em 2em;
  }

  .title-input {
    @extend .h1;
    @extend .w-100;
    @extend .rounded-0;
    @extend .p-0;
    @extend .border-0;
    @extend .border-bottom;

    font-family: Georgia, "Times New Roman", serif;
    outline: none;
  }

  .react-tags {
    @extend .border-0;
    @extend .py-0;
    @extend .px-1;
    @extend .mx-n1;

    border-radius: 1rem;

    .keyword-tag {
      background-color: lighten($blue-100, 5%);

      &:hover, &:focus {
        background-color: $blue-100;
      }

      .btn-delete {
        background-color: lighten($blue-100, 5%);

        &:hover, &:focus {
          background-color: $blue-100;
        }
      }
    }

    .react-tags__search {
      @extend .mb-0;

      .react-tags__search-input {
        @extend .bg-transparent;
      }
    }

    .react-tags__suggestions {
      ul {
        @extend .dropdown-menu;
        @extend .show;

        li {
          @extend .dropdown-item;

          &.is-active {
            @extend .bg-primary;

            &, mark {
              @extend .text-white;
            }
          }

          mark {
            @extend .p-0;
            @extend .text-decoration-none;
          }
        }
      }
    }
  }

  trix-editor {
    @extend .trix-editor;
  }

  .trix-editor {
    @extend .h-100;
    @extend .m-0;
    @extend .p-0;
    @extend .rounded-0;

    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.125em;
    border: none;
    outline: none;
    min-height: 5em;

    &.collapsed {
      max-height: 300px;
      overflow: hidden;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 8em;
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      }
    }

    h1 {
      @extend .h3;
    }

    blockquote {
      @extend .p-3;

      border-left: 0.35em solid $secondary;
    }

    pre {
      @extend .card;
      @extend .card-body;
      @extend .bg-transparent;

      br {
        margin-top: 1em;
      }
    }

    a {
      cursor: pointer;
    }
  }

  .trix-toolbar {
    overflow-x: auto;
    white-space: nowrap;

    .btn-toolbar {
      @include btn-selectable('.trix-active');

      @extend .fs-5;
      @extend .px-2;
      @extend .py-1;

      &:not(.trix-active) {
        @extend .text-secondary;
      }
    }
  }
}

#trix-dialogs {
  .trix-validate {
    @extend .is-invalid;
  }
}
