@tailwind base;
@tailwind components;
@tailwind utilities;

/* Z-index:
 * 10 - TopBar
 * 20 - Tippy
 * 30 - Modals
 * 40 - Tippy inside modal
 * 50 - Toasts
 */

@layer base {
  *:focus-visible, .focus-ring {
    outline: none;
    @apply ring-2 ring-primary-500 dark:ring-primary-400 border-transparent relative;
  }

  *, ::before, ::after {
    @apply border-slate-200 dark:border-slate-700;
  }

  body {
    @apply overflow-wrap-break-word;
  }

  input::placeholder, textarea::placeholder, [data-slate-placeholder] {
    @apply text-slate-400 dark:text-slate-500;
  }

  button {
    @apply select-none;
  }

  input[type="checkbox"] {
    @apply w-5 h-5 shrink-0 appearance-none rounded border bg-page-bg-light dark:bg-page-bg-dark mt-[0.1875rem];

    &:checked {
      @apply bg-primary-500 dark:bg-primary-400 text-white border-transparent ring-offset-2;

      // From Bootstrap
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    }
  }
}

@layer utilities {
  .text-ui {
    @apply text-slate-700 dark:text-slate-200;
  }

  .transparent-blur {
    @apply bg-page-bg-light/75 dark:bg-page-bg-dark/75 backdrop-blur;
  }

  .no-focus-ring:focus-visible {
    @apply ring-0;
  }

  .group-focus-ring {
    @apply group-focus-visible:ring-primary-500 group-focus-visible:dark:ring-primary-400;
  }

  .overflow-wrap-break-word {
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .overflow-wrap-normal {
    overflow-wrap: normal;
    word-break: normal;
  }

  .narrow {
    @apply mx-auto w-full max-w-screen-sm;
  }

  .prose {
    // Spacing for block elements
    & > * {
      margin-top: 0.75rem !important;
      margin-bottom: 0 !important;
    }

    & > ul, & > ol {
      * {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }

      // Prevent overflow in deeply nested lists
      @apply overflow-x-auto;
      @apply overflow-wrap-normal;
    }

    ul, ol {
      padding-left: calc(1.5rem + var(--list-style-offset, 0));
    }

    blockquote * {
      // Remove font-weight: 500 for blockquotes
      @apply font-normal;

      // Remove quotation marks for blockquotes
      &::before, &::after {
        content: '';
      }
    }

    // Round the left border of blockquotes
    blockquote {
      @apply border-l-0 relative;

      &::before {
        @apply absolute left-0 top-0 bottom-0 w-1 rounded-full;
        content: '';
        background-color: var(--tw-prose-quote-borders);
      }
    }

    // Set link colour
    a {
      @apply text-primary-500 dark:text-primary-400 hover:text-primary-700 dark:hover:text-primary-500;
    }

    h1 {
      @apply text-2xl font-medium mt-0;
    }
  }
}

@layer components {
  .btn {
    @apply rounded-lg cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed;

    /* All buttons must be either solid, transparent or link.
     * Solid buttons must an opaque background.
     * Transparent buttons must have a non-opaque background.
     * Link buttons are text only.
     */

    // Solid buttons
    &.btn-solid, &.btn-rect {
      @apply hover:brightness-95 dark:hover:brightness-110;
    }

    // Transparent buttons
    &.btn-transparent {
      @apply hover:backdrop-brightness-95 dark:hover:backdrop-brightness-150;
    }

    // Link buttons need a stronger hover effect
    &.btn-link {
      @apply hover:brightness-75 dark:hover:brightness-125;
    }

    &.btn-link {
      @apply text-primary-500 dark:text-primary-400 window-inactive:text-slate-500 dark:window-inactive:text-slate-400;
    }

    &.btn-link-subtle {
      @apply hocus:text-primary-500 dark:hocus:text-primary-400;
    }

    &.btn-rect {
      @apply px-3 py-2;
    }

    &.btn-secondary {
      @apply bg-slate-100 dark:bg-slate-800;
    }

    &.btn-modal-secondary {
      @apply bg-slate-300/50 dark:bg-slate-700/50;
    }

    &.btn-primary {
      @apply bg-primary-500 dark:bg-primary-400 text-white ring-offset-2;
    }

    &.btn-danger {
      @apply bg-red-500 text-white ring-offset-2;
    }
  }
}

.tippy-box[data-theme~='custom'] {
  @apply text-inherit bg-slate-100/75 dark:bg-slate-700/75 backdrop-blur font-medium shadow;
}

[data-tippy-root] {
  // Side effect of mounting tooltip as a child of .divide-y
  border: none !important;
  @apply select-none;
}

[data-slate-placeholder] {
  // Fix editor placeholder causing body to scroll horizontally
  width: auto !important;

  // Remove opacity: 0.333 from placeholder
  opacity: 1 !important;
}

[data-slate-editor]:focus [data-slate-placeholder] {
  // Hide placeholder when editor is focused
  opacity: 0 !important;
}

[data-has-bg] {
  @apply bg-cover bg-center bg-no-repeat;
  background-image: var(--bg-url);
}
