<% content_for :head do %>
  <%= prevent_fouc_tags %>
<% end %>

<div id="application" class="prevent-fouc min-h-screen flex flex-col p-5">
  <%= form_tag @login_path, method: :post, class: 'm-auto narrow space-y-3' do %>
    <h1 class="h1">You need to log in to access this page</h1>

    <p class="text-lg">You will be redirected to the login page shortly.</p>

    <p>
      If you are not redirected,
      <button type="submit" class="btn btn-link">click here to log in</button>.
    </p>

    <script type="text/javascript">
      setTimeout(() => {
        document.querySelector('form').submit()
      }, 1500)
    </script>
  <% end %>
</div>
