<% content_for :head do %>
  <%= prevent_fouc_tags %>
  <%= vite_javascript_tag 'unauthenticated' %>
<% end %>

<div id="application" class="prevent-fouc min-h-dvh flex flex-col p-5">
  <%= form_tag @login_path, method: :post, class: 'm-auto lg:narrow space-y-3' do %>
    <h1 class="h1">You need to sign in to access this page</h1>

    <p class="text-lg">You will be redirected to the sign in page shortly.</p>

    <p>
      If you are not redirected,
      <button type="submit" class="btn btn-link">click here to sign in</button>.
    </p>
  <% end %>
</div>
