/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$enable-negative-margins: true;
$transition-collapse: none;

@import "bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

// Bootstrap Icons
.bi {
  vertical-align: -.125em;
}

.document-editor {
  @extend .bg-white;
  @extend .shadow;
  padding: 3em;
  border-radius: 2em;

  .document-editor-top-bar {
    margin-top: -3em;
    min-height: 3em;
  }

  .title-input {
    @extend .h1;
    @extend .w-100;
    @extend .border-0;
    @extend .border-bottom;

    outline: none;

    &:focus-visible {
      border-color: $primary !important;
    }
  }

  [id^="trix-editor-top-level"] {
    @extend .flex-grow-1;
  }

  trix-editor {
    @extend .h-100;
    @extend .p-0;
    border: none;

    &:not(:focus):hover {
      background-color: $light;
    }

    h1 {
      @extend .h3;
    }
  }

  .btn-toggle-formatting-toolbar {
    @extend .btn;
    @extend .text-secondary;
    @extend .p-0;
    font-size: 1.25em;
  }
}
