/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$enable-negative-margins: true;
$transition-collapse: none;

@import "bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

// Bootstrap Icons
.bi {
  vertical-align: -.125em;
}

.btn-light {
  @extend .bg-white;
  @extend .border;

  &:hover, &:focus {
    @extend .bg-light;
  }
}

.btn-icon {
  @extend .px-2;
  @extend .py-1;

  &:hover, &:focus {
    @extend .bg-light;
  }
}

@mixin btn-selectable($selected-selector) {
  &:not(#{$selected-selector}) {
    @extend .btn-light;
  }

  &#{$selected-selector} {
    @extend .btn-primary;
  }
}

.btn-project {
  @extend .text-start;
  @include btn-selectable('.selected');
}

.dim-on-hover {
  @include transition($btn-transition);

  &:not(:focus):hover {
    @extend .bg-light;
  }
}

.document-editor {
  @extend .bg-white;
  @extend .shadow;

  padding: 3em;
  border-radius: 2em;

  .document-editor-header {
    @extend .bg-white;

    margin: -3em -3em 0 -3em;
    min-height: 3em;
    border-radius: 2em 2em 0 0;

    &:not(:hover) .document-editor-header-link {
      @extend .visually-hidden-focusable;
    }
  }

  .document-editor-footer {
    @extend .bg-white;

    margin: 0 -3em -3em -3em;
    padding: 0 3em 0 3em;
    min-height: 3em;
    border-radius: 0 0 2em 2em;
  }

  .title-input {
    @extend .h1;
    @extend .w-100;
    @extend .border-0;
    @extend .border-bottom;
    @extend .dim-on-hover;

    font-family: Georgia, "Times New Roman", serif;
    outline: none;
  }

  [id^="trix-editor-top-level"] {
    @extend .flex-grow-1;
  }

  trix-editor {
    @extend .h-100;
    @extend .p-0;
    @extend .rounded-0;
    @extend .dim-on-hover;

    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.125em;
    border: none;

    h1 {
      @extend .h3;
    }
  }

  trix-toolbar {
    .trix-button-group {
      @extend .btn-group;
      @extend .border-0;
    }

    .trix-button {
      @extend .btn;
      @include btn-selectable('.trix-active');

      &.trix-active::before {
        filter: invert(1);
      }
    }
  }
}
