name: Deploy staging

on: push

jobs:
  deploy_staging:
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: docker/login-action@v3
      with:
        registry: ${{ secrets.REGISTRY_URL }}
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
    - uses: docker/build-push-action@v6
      with:
        push: true
        tags: ${{ secrets.REGISTRY_URL }}/${{ secrets.REGISTRY_REPO }}:staging
