<% content_for :content do %>
  <main class="narrow-lg p-5 flex flex-col gap-3">
    <h1 class="h1">Administration</h1>

    <%= yield %>
  </main>
<% end %>

<%= render template: 'layouts/static' %>
