<!DOCTYPE html>
<html>
  <head>
    <title>Note</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_packs_with_chunks_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
