<!DOCTYPE html>
<html>
  <head>
    <title>Note App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
